.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  margin-bottom: 5px;
  font-size: 4rem;
  color: #3891fc;
}

.wrapper p {
  font-weight: 400;
  font-size: 1.1rem;
}
